<!-- The Modal -->
<div class="modal" [ngStyle]="{'display': 'block'}" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"> Crear Producto </h4>
                <button (click)="ocultarModal()" type="button" class="close" data-dismiss = "modal"> &times; </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                Modal Body
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
<button type="submit" class="btn btn-primary" > Guardar </button>
<button (click)="ocultarModal()" type="button" class="btn btn-danger"> Cerrar </button>
            </div>
            
        </div>
    </div>
</div>